:root
  --ark-left-border-color: #818181;
  --ark-right-border-color: #1b54b9;
  --ark-container-background: rgba(50, 50, 50, 0.8);
  --ark-container-font: #fff;

[data-theme="dark"]
  --ark-left-border-color: #37708f;
  --ark-right-border-color: #1b54b9;
  --ark-container-background: rgba(30, 49, 55, 0.7);
  --ark-container-font: #fff;

#page-header.post-bg {
  height: 100px;
}

#content-inner .post-outdate-notice {
  display: block;
  border: 2px dotted red;
  padding: 5px 20px;
  border-radius: 5px;
}

#content-inner #archive,
#content-inner #category,
#content-inner #page,
#content-inner #post,
#content-inner #tag {
  position: relative;
  background: 0px 0px;
  border-radius: 10px;
  padding: 15px 5px !important;
}

#content-inner #article-container,
#content-inner #post-comment,
#content-inner .category-lists,
#content-inner .post-copyright,
#content-inner .tag-cloud-list {
  color: var(--ark-container-font);
  border-radius: 10px;
  padding: 10px 15px;
  width: 100%;
  height: 100%;
  background: var(--ark-container-background);
  backdrop-filter: blur(5px);
  transform: translateZ(0px);
}

@media screen and (min-width: 768px) {
  #content-inner #category,
  #content-inner #page,
  #content-inner #post,
  #content-inner #tag {
    padding: 45px 15px !important;
  }
  #content-inner #category::before,
  #content-inner #page::before,
  #content-inner #post::before,
  #content-inner #tag::before {
    content: "";
    z-index: -1;
    background: var(--ark-left-border-color);
    height: 100%;
    width: 60%;
    position: absolute;
    left: 0px;
    top: 0px;
    clip-path: polygon(calc(100% - 1px) 27px, 100% 24px, calc(100% - 30px) 24px, calc(100% - 30px) 22px, calc(100% - 45px) 12px, calc(100% - 140px) 12px, calc(100% - 127px) 22px, calc(100% - 30px) 22px, calc(100% - 30px) 24px, calc(100% - 130px) 24px, calc(100% - 143px) 12px, 39px 12px, 0px 51px, 0px calc(100% - 51px), 39px calc(100% - 12px), calc(100% - 143px) calc(100% - 12px), calc(100% - 130px) calc(100% - 24px), calc(100% - 1px) calc(100% - 24px), 100% calc(100% - 27px), calc(100% - 30px) calc(100% - 27px), calc(100% - 30px) calc(100% - 22px), calc(100% - 45px) calc(100% - 12px), calc(100% - 140px) calc(100% - 12px), calc(100% - 127px) calc(100% - 22px), calc(100% - 30px) calc(100% - 22px), calc(100% - 30px) calc(100% - 27px), calc(100% - 132px) calc(100% - 27px), calc(100% - 145px) calc(100% - 15px), 41px calc(100% - 15px), 3px calc(100% - 54px), 3px 54px, 41px 15px, calc(100% - 145px) 15px, calc(100% - 132px) 27px);
  }
  #content-inner #category::after,
  #content-inner #page::after,
  #content-inner #post::after,
  #content-inner #tag::after {
    content: "";
    z-index: -1;
    background: var(--ark-right-border-color);
    height: 100%;
    width: 40%;
    position: absolute;
    right: 0px;
    top: 0px;
    clip-path: polygon(0px 0px, 40px 23px, calc(100% - 39px) 23px, 100% 51px, 100% calc(100% - 51px), calc(100% - 39px) calc(100% - 23px), 40px calc(100% - 23px), 0px 100%, 0px calc(100% - 5px), 40px calc(100% - 27px), calc(100% - 41px) calc(100% - 27px), calc(100% - 5px) calc(100% - 53px), calc(100% - 5px) 53px, calc(100% - 41px) 27px, 42px 27px, 0px 5px);
  }
  #content-inner #article-container,
  #content-inner #post-comment,
  #content-inner .category-lists,
  #content-inner .post-copyright,
  #content-inner .tag-cloud-list {
    padding: 30px 25px;
    clip-path: polygon(20px 20px, 0px 40px, 0px calc(100% - 20px), 20px 100%, 100px 100%, 120px calc(100% - 20px), calc(50% - 20px) calc(100% - 20px), 50% 100%, calc(100% - 20px) 100%, 100% calc(100% - 20px), 100% 40px, calc(100% - 20px) 19px, 50% 20px, calc(50% - 20px) 0px, calc(50% - 160px) 0px, calc(50% - 180px) 20px);
  }
  #post #post-info {
    clip-path: polygon(20px 20px, 0px 40px, 0px calc(100% - 20px), 20px 100%, 100px 100%, 120px calc(100% - 20px), calc(50% - 20px) calc(100% - 20px), 50% 100%, calc(100% - 20px) 100%, 100% calc(100% - 20px), 100% 40px, calc(100% - 20px) 20px, calc(50% + 80px) 20px, calc(50% + 60px) 0px, calc(50% - 60px) 0px, calc(50% - 80px) 20px);
  }
}

#post #post-info {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  overflow: hidden;
  border-radius: 15px;
  margin: 0px 0px 20px;
}

#post #post-info * {
  color: var(--ark-post-item-font-color);
}

#post #post-info .ark-post-info-cover {
  height: 100%;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  z-index: 0;
}

#post #post-info .ark-post-info-cover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.8;
}

#post #post-info .post-meta-date {
  width: 350px;
  font-size: 16px;
  text-shadow: rgb(0, 0, 0) 2px 2px 3px;
  background: rgba(153, 54, 44, 0.8);
  font-family: UnidreamLED;
  display: flex;
  position: absolute;
  height: 30px;
  top: calc(50% - 15px);
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 2;
}

#post #post-info .post-meta-date * {
  transition: all 0.3s linear 0s;
}

#post #post-info .post-meta-date .post-meta-date-item-first {
  position: absolute;
  opacity: 0;
}

#post #post-info .post-meta-date .post-meta-date-item-second {
  position: absolute;
  opacity: 1;
  filter: none;
}

#post #post-info .post-meta-date:hover .post-meta-date-item-first {
  opacity: 1;
  filter: none;
}

#post #post-info .post-meta-date:hover .post-meta-date-item-second {
  opacity: 0;
}